.comments
{
    -webkit-box-shadow: 0 0 5px #494F4F;
    box-shadow: 0 0 5px #494F4F;
    padding: 0.5rem;
    ul
    {
    	height: 50%;
   		overflow: auto;
   		p
   		{
   			display:flex;
   		}
   		b
   		{
   			padding-right: 1rem;
   		}
    }
    .comment-form
    {
      input
      {
            border-bottom: 1px solid $blue;
            margin: 0 1rem;
            &[type='submit']
            {
              background-color:$blue;
              border:none;
              color:$whitecolor;
              padding: 1rem;
            }
      }
    }
}